td {
  border: none !important;
}

.sticky-col {
  width: 200px;
  position: absolute;
  background-color: #f5f5f5;
}

.sticky-col + .sticky-col {
  left: 200px;
}

.sticky-col[colspan="2"] {
  width: 400px;
}

.sticky-col + td:not(.sticky-col),
.sticky-col + th:not(.sticky-col) {
  padding-left: 400px;
}

.table__header__title {
  background-color: #012873 !important;
  color: #ffffff !important;
}

.table__header__cell {
  background-color: #012873 !important;
  color: #677eab !important;
}

.row__category-total td {
  border-top: 1px solid #dddddd !important;
  border-bottom: 1px solid #dddddd !important;
  background-color: #efeeee !important;
}

.row__category-total + tr {
  border-top: 1px solid green;
}

.row__grand-total td {
  background-color: #333333 !important;
  color: white;
}
